<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex flex-row bd-highlight mb-3">
    <a href="/" class="p-2 bd-highlight">Home</a>
    <a href="/profil" class="p-2 bd-highlight">Profil</a>
    <a href="/feed" class="p-2 bd-highlight">Feed</a>
    <div class="p-2 bd-highlight">
        <form action="/logout" method="post">
            <button class="btn btn-outline-danger" type="submit">Logout</button>
        </form>
    </div>
  </div>
</nav>
<br>

