<nav class="navbar navbar-dark bg-dark">
    <div class="d-flex flex-row bd-highlight mb-3">
        <a href="/" class="p-2 bd-highlight">Home</a>
        <a href="/profil" class="p-2 bd-highlight">Profil</a>
        <a href="/feed" class="p-2 bd-highlight">Feed</a>
        <a href="/register" class="p-2 bd-highlight">Register</a>
        <a href="/feed" class="p-2 bd-highlight">Login</a>
    </div>
</nav>
<br>